# Dependencies
node_modules/
frontend/node_modules/
venv/
backend/venv/

# Builds & Cache
dist/
frontend/dist/
__pycache__/
*.pyc
.pytest_cache/
.coverage

# SQLite DB & env
*.db
.env
.env.local

# IDE & OS
.DS_Store
.idea/
.vscode/
